.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    background-color: var(--header-color);
    padding: 1em 0;
}

.header__logo {
    width: 150px;
    height: auto;
} 